[Unit]
Description=Dead Simple VPN Server

[Service]
ExecStart=/root/dsvpn/dsvpn server /root/dsvpn/vpn.key auto 2222
Restart=always
RestartSec=10

[Install]
WantedBy=network.target
